<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.work.MyFavoriteAddresses" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
  <application android:label="MyFavoriteAddresses">
    <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBbw1oWrCKjTnoM2vKt2qiDtp9N8GpqFDI" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
  </application>
</manifest>
